/**
  File   : a.scss
  Author : IndexXuan(https://github.com/IndexXuan)
  Mail   : indexxuan@gmail.com
  Date   : 2015年12月29日 星期二 13时07分36秒
*/

/* a { */
  /* color: red; */

  /* p { */
    /* color: black; */
  /* } */
/* } */
